.pre-release-interest {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pre-release-interest .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 1117px;
}

.pre-release-interest .overlap {
  position: relative;
  width: 1757px;
  height: 1053px;
  top: 27px;
  left: 139px;
}

.pre-release-interest .overlap-group {
  position: absolute;
  width: 1757px;
  height: 1053px;
  top: 0;
  left: 0;
}

.pre-release-interest .div {
  position: absolute;
  width: 1741px;
  height: 973px;
  top: 80px;
  left: 16px;
}

.pre-release-interest .gradient {
  position: absolute;
  width: 929px;
  height: 839px;
  top: 134px;
  left: 812px;
}

.pre-release-interest .overlap-group-2 {
  position: relative;
  height: 839px;
}

.pre-release-interest .eclipse {
  position: absolute;
  width: 895px;
  height: 792px;
  top: 47px;
  left: 0;
  border-radius: 447.68px/395.85px;
  filter: blur(200px);
  background: linear-gradient(180deg, rgb(79, 59, 120) 0%, rgba(173, 152, 185, 0) 100%);
}

.pre-release-interest .planet {
  position: absolute;
  width: 655px;
  height: 579px;
  top: 0;
  left: 274px;
  border-radius: 327.57px/289.64px;
  filter: blur(100px);
  background: linear-gradient(180deg, rgb(185.22, 172.57, 215.16) 0%, rgb(146, 127, 191) 100%, rgb(112, 97, 163) 100%);
}

.pre-release-interest .match-move-belong {
  position: absolute;
  width: 852px;
  top: 271px;
  left: 0;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.pre-release-interest .zenbook-duo {
  position: absolute;
  width: 864px;
  height: 831px;
  top: 0;
  left: 709px;
  object-fit: cover;
}

.pre-release-interest .overlap-2 {
  position: absolute;
  width: 169px;
  height: 96px;
  top: 0;
  left: 0;
}

.pre-release-interest .image {
  position: absolute;
  width: 160px;
  height: 96px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.pre-release-interest .rectangle {
  position: absolute;
  width: 50px;
  height: 57px;
  top: 24px;
  left: 119px;
  background-color: #ffffff;
}

.pre-release-interest .div-wrapper {
  position: absolute;
  width: 548px;
  height: 52px;
  top: 270px;
  left: 16px;
  background-color: #4f3b78;
  border-radius: 60px;
}

.pre-release-interest .text-wrapper {
  position: absolute;
  top: 13px;
  left: 90px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.pre-release-interest .p {
  position: absolute;
  width: 577px;
  height: 140px;
  top: 551px;
  left: 16px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.pre-release-interest .overlap-3 {
  position: absolute;
  width: 395px;
  height: 75px;
  top: 718px;
  left: 16px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #b1b1b1;
}

.pre-release-interest .text-wrapper-2 {
  position: absolute;
  height: 28px;
  top: 21px;
  left: 55px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #b1b1b1;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.pre-release-interest .overlap-4 {
  position: absolute;
  width: 186px;
  height: 75px;
  top: 718px;
  left: 434px;
  background-color: #4f3b78;
  border-radius: 5px;
  box-shadow: 2px 3px 9px #0000001a, 9px 14px 16px #00000017, 19px 31px 22px #0000000d, 34px 55px 26px #00000003,
    54px 87px 29px transparent;
}

.pre-release-interest .text-wrapper-3 {
  position: absolute;
  height: 28px;
  top: 22px;
  left: 37px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.pre-release-interest .overlap-5 {
  position: absolute;
  width: 186px;
  height: 75px;
  top: 5px;
  left: 1323px;
  background-color: #4f3b78;
  border-radius: 5px;
}

.pre-release-interest .text-wrapper-4 {
  position: absolute;
  height: 28px;
  top: 27px;
  left: 1187px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.pre-release-interest .text-wrapper-5 {
  position: absolute;
  height: 28px;
  top: 27px;
  left: 1090px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.pre-release-interest .text-wrapper-6 {
  position: absolute;
  height: 28px;
  top: 27px;
  left: 924px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}
